
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  html{
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
  }

  body{
    width:100%;
    height: 100%;
    position: fixed;
    font-size:1vmin;
    letter-spacing:0.1vmin;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling : touch;
    top:0;
    left:0;
    margin:0;
  } 

  .slide {
    width: 100vw;
  }

  body::-webkit-scrollbar {
    display: none;  /* Chrome Safari  */
  }
  

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

   p {
     margin: 0;
   }

   .head {
     top:0;
     left:0;
     position: fixed;
     display:flex;
     flex-direction:column;
     width: 100%;
     height: 30%;
     background: url("./assets/images/5983361.jpg") no-repeat;
     background-size: 100% 100%;
  }

   .headtop {
    height: 70%;
    display:flex;
    flex-direction:row;
    text-align:left;
   }

   .headtop .left{
    width: 80%;
    padding-left:3vw;
    padding-top:5vh;
    font-size:3vmin;
    display:flex;
    flex-direction:column;
    text-align:left;
    }

   .headtop .right{
    width: 20%;
    padding-right:3vw;
    padding-top:5vh;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    }

    .headtop .right .headtopimg{
      width: 5vmax;
      height: 5vmax;
      background: url("./assets/images/icon/logout.png") no-repeat;
      background-size: 100% 100%;
    }

    .headtop .right .headtoptitle{
      width: 5vmax;
      height: 2vmax;
      top:6vmax;
      display: flex;
      color: #000000;
      font-weight: 600;
      font-size:1vmax;
      justify-content: center;
      align-items: center;
    }

  .headtopcenter {
    height: 10%;
    display:flex;
    display: inline;
    font-size:3vmin;
    font-weight: bold;
    flex-direction:row;
    text-align:center;
    padding-bottom:2vh;
    }

   .equipmenttop{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    right:0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: white;
    z-index:20;
    transform-origin: center 0;
    overflow: hidden;
  }
  
  .equiptoolbar {
    position: fixed;
    width: 100%;
    height: 20%;
    top:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: 600;
    z-index:30;
  }
  
  .equiptoolbar .icon1 {
  display: flex;
  margin-top:3vh;
  margin-left:3vw;
  width: 10vmin;
  height: 10vmin;
  background: url("./assets/images/icon/leftbutton.png") no-repeat;
  background-size: 100% 100%;
  }
  
  .equiptoolbar .name {
  display: flex;
  flex:1 1 auto;
  font-size:2vmin;
  font-weight: bold;
  flex-direction:column;
  margin-top: 3vh;
  text-align:center;
  }
  
  .equiptoolbar .icon2 {
    display: flex;
    margin-top:3vh;
    margin-right:3vw;
    width: 10vmin;
    height: 10vmin;
    background: url("./assets/images/icon/more.png") no-repeat;
    background-size: 85% 85%;
  }

   #wavebar{
    position: relative;
    width: 100%;
    height:30%;
    background-image: linear-gradient(white,  rgba(0,191,255,1));
    /* background-color: rgba(0,191,255,1); */
    overflow: hidden;
    z-index: 20;
  }
  
  #wavebar div{
    position: absolute;
    top:-200vmin;
    width:200vmin;
    height:200vmin;
    border-radius: 45%;
    background-color:white;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    z-index: 25;
  }
  
  #wavebar #div1{
    /* background-color: yellow; */
    left:-75%;
    animation-name:waveCircle1;
    animation-duration:13s;
  }

  #wavebar #div2{
    /* background-color: yellow; */
    left:-62.5%;
    animation-name:waveCircle2;
    animation-duration:15s;
  }
  
  #wavebar #div3{
    /* background-color: green; */
    left:-50%;
    animation-name:waveCircle3;
    animation-duration:17s;
  }

  #wavebar #div4{
    /* background-color: yellow; */
    left:-37.5%;
    animation-name:waveCircle4;
    animation-duration:13s;
  }
  
  #wavebar #div5{
    /* background-color:blue; */
    left:-25%;
    animation-name:waveCircle1;
    animation-duration:15s;
  }

  #wavebar #div6{
    /* background-color: yellow; */
    left:-12.5%;
    animation-name:waveCircle2;
    animation-duration:17s;
  }
  
  #wavebar #div7{
    /* background-color: red; */
    left:0;
    animation-name:waveCircle3;
    animation-duration:13s;
  }
  
  #wavebar #div8{
    /* background-color: yellow; */
    left:12.5%;
    animation-name:waveCircle4;
    animation-duration:15s;
  }

  #wavebar #div9{
    /* background-color: yellow; */
    left:25%;
    animation-name:waveCircle1;
    animation-duration:17s;
  }

  #wavebar #div10{
    /* background-color: yellow; */
    left:37.5%;
    animation-name:waveCircle2;
    animation-duration:13s;
  }
  
  #wavebar #div11{
    /* background-color: green; */
    left:50%;
    animation-name:waveCircle3;
    animation-duration:15s;
  }

  #wavebar #div12{
    /* background-color: yellow; */
    left:62.5%;
    animation-name:waveCircle4;
    animation-duration:17s;
  }
  
  #wavebar #div13{
    /* background-color:blue; */
    left:75%;
    animation-name:waveCircle1;
    animation-duration:13s;
  }

  #wavebar #div14{
    /* background-color: yellow; */
    left:-87.5%;
    animation-name:waveCircle2;
    animation-duration:15s;
  }
  
  #wavebar #div15{
    /* background-color: red; */
    left:-100%;
    animation-name:waveCircle3;
    animation-duration:17s;
  }
  
  @keyframes waveCircle1{
    0%{
      transform:rotate(0);
    }
    100%{
      transform:rotate(360deg);
    }
  }
  
  @keyframes waveCircle2{
    0%{
      transform:rotate(30deg);
    }
    100%{
      transform:rotate(390deg);
    }
  }
  
  @keyframes waveCircle3{
    0%{
      transform:rotate(60deg);
    }
    100%{
      transform:rotate(420deg);
    }
  }
  
  @keyframes waveCircle4{
    0%{
      transform:rotate(90deg);
    }
    100%{
      transform:rotate(450deg);
    }
  }

   .equipshow {
    top: 30%;
    width: 100%;
    height:65%;
    left:0;
    right:0;
    position: fixed;
    background:#fafafa;
    }

  .card-container {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding:2%;
    overflow-Y:scroll;
    overflow-X:hidden;
    }

    .card {
      height: 15vh;
      width: 40vw;
      margin:1.5%;
      padding:2vw;
      justify-content: left;
      background-color: white;
      border-radius: 2vmin;
      display: flex;
      flex:none;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      transition: all 0.2s ease-in-out;
      color:black;
      text-decoration:none;
      overflow: hidden;
    }

      .equipname{
        width: 80%;
        height: 25%;
        margin-left:1vmin;
        font-size:2.5vmin;
        font-weight: bold;
      }

      .equipinfo{
        width: 80%;
        height: 20%;
        margin-top:1vmin;
        margin-left:1vmin;
        font-size:2vmin;
        font-weight: normal;
        color:#a37f7f;
      }

      .card-container .card:active {
        transform:scale(0.95);
        /* transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35); */
      }

      .equip-filter{
        display: inline;
        display:flex;
        width: 8vh;
        height: 8vh;
        background: url("./assets/images/equipment/filter.jpg") no-repeat;
        background-size: 100% 100%;
        }

      .equip-handset{
        display: inline;
        display:flex;
        width: 8vh;
        height: 8vh;
        background: url("./assets/images/equipment/handset.jpg") no-repeat;
        background-size: 100% 100%;
        }

      .equip-thermometer{
        display: inline;
        display:flex;
        width: 8vh;
        height: 8vh;
        background: url("./assets/images/equipment/thermometer.jpg") no-repeat;
        background-size: 100% 100%;
        }

      .equip-aircleaner{
        display: inline;
        display:flex;
        width: 8vh;
        height: 8vh;
        background: url("./assets/images/equipment/aircleaner.jpg") no-repeat;
        background-size: 100% 100%;
        }

      .equip-smartlock{
        display: inline;
        display:flex;
        width: 8vh;
        height: 8vh;
        background: url("./assets/images/equipment/smartlock.jpg") no-repeat;
        background-size: 100% 100%;
        }

      .iconOne{
        display: inline;
        display:flex;
        width: 10vmin;
        height: 10vmin;
        background: url("./assets/images/icon/number/1_round.png") no-repeat;
        background-size: 100% 100%;
        }

      .iconTwo{
        display: inline;
        display:flex;
        width: 10vmin;
        height: 10vmin;
        background: url("./assets/images/icon/number/2_round.png") no-repeat;
        background-size: 100% 100%;
        }

      .iconThree{
        display: inline;
        display:flex;
        width: 10vmin;
        height: 10vmin;
        background: url("./assets/images/icon/number/3_round.png") no-repeat;
        background-size: 100% 100%;
        }

      .iconFour{
        display: inline;
        display:flex;
        width: 10vmin;
        height: 10vmin;
        background: url("./assets/images/icon/number/4_round.png") no-repeat;
        background-size: 100% 100%;
        }

      .iconRightArrow{
        display: inline;
        display:flex;
        width: 6vmin;
        height: 6vmin;
        background: url("./assets/images/icon/arrow-right1.png") no-repeat;
        background-size: 100% 100%;
        }

      .iconExpire{
        display:flex;
        width: 12vmin;
        height: 12vmin;
        background: url("./assets/images/icon/yiguoqi_2_red.png") no-repeat;
        background-size: 100% 100%;
        }