<div class="head">
  <div class="headtop">
    <div class="left">
      <div>
        <h1>家庭></h1>
      </div>
      <div>
        暂无家庭环境信息
      </div>
    </div>
    <div class="right">
      <div class="headtopimg" (click)="logout()"></div>
      <div class="headtoptitle">登出</div>
    </div>
  </div>
  <div class="headtopcenter">
    <table align="center" width="50%" border="0">
      <tr>
        <td align="center" width="15%">设备</td>
        <td align="center" width="15%" style="color:lightblue">房间</td>
      </tr>
    </table>
  </div>
  <select (change)="navigateTo($event)">
    <option value="/equipment/handset" routerLink="[/equipment/handset]">
      手机红外控制器
    </option>
    <option value="/equipment/filter" routerLink="/equipment/filter">
      净水器
    </option>
    <option value="thermometer">
      温湿度计
    </option>
  </select>
</div>

<div class="equipshow">
  <div class="card-container">
    <div class="card" routerLink="/equipment/handset">
      <div class="equip-handset"></div>
      <div class="equipname">
        <h3>手机红外控制器</h3>
      </div>
      <div class="equipinfo">
        手机 | 设备数 0
      </div>
    </div>
    <div class="card" routerLink="/equipment/filter">
      <div  class="equip-filter"></div>
      <div class="equipname">
        <h3>净水器</h3>
      </div>
      <div class="equipinfo">
        共享 | TDS 73
      </div>
    </div>
    <div class="card">
      <div class="equip-thermometer"></div>
      <div class="equipname">
        <h3>温湿度计</h3>
      </div>
      <div class="equipinfo">
        客厅
      </div>
    </div>
  </div>
</div>

<app-navbar></app-navbar>
