<div class="head">
    <div class="headtop">  
      <div class="left">
        <span><h1>可选商品</h1></span>
      </div>
      <div class="right">
        <div class="headtopimg" (click)="logout()"></div>
        <div class="headtoptitle">登出</div>
    </div>
</div>
<div class="equipshow">
  <div class="card-container">
    <div class="card">
      <div class="equip-handset">
      </div>
      <div class="equipname">
        <h3>手机红外控制器</h3>
      </div>
    </div>
    <div class="card">
      <div class="equip-filter">
      </div>
      <div class="equipname">
        <h3>净水器</h3>
      </div>
    </div>
    <div class="card">
      <div class="equip-thermometer">
      </div>
      <div class="equipname">
        <h3>温湿度计</h3>
      </div>
    </div>
    <div class="card">
      <div class="equip-aircleaner">
      </div>
      <div class="equipname">
        <h3>空气净化器</h3>
      </div>
    </div>
    <div class="card">
      <div class="equip-smartlock">
      </div>
      <div class="equipname">
        <h3>智能门锁</h3>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>