.billtoolbar {
    position: fixed;
    width: 100%;
    height: 5%;
    top:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    font-weight: 600;
    background-color: #eeeeee;
    z-index:30;
  }
  
  .billtoolbar .icon1{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .billtoolbar .icon1 .img{
    width: 3vh;
    height: 3vh;
    margin-left:3vw;
    background: url("../../assets/images/icon/close.png") no-repeat;
    background-size: 100% 100%;
  }
  
  .billtoolbar .name{
    width: 50%;
    height: 100%;
    display: flex;
    flex:1 1 auto;
    font-size:2.5vh;
    font-weight: 600;
    flex-direction:column;
    text-align:center;
    justify-content: center;
  }

  .billtoolbar .faq{
    width: 25%;
    height: 100%;
    display: flex;
  }

  .newdealupdateconfirm{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    top:0;
    transition: 0.5s ease-out;
    z-index: 35;
}

    .newdealupdateconfirmtop{
        width: 100%;
        height: 5%;
        display: flex;
        font-size: 2vmax;
        font-weight: 600;
        background-color: #ececec;
        justify-content: center;
        align-items: center;
    }

    .newdealupdateconfirmmiddle{
        width: 100%;
        height: 55%;
        display: flex;
        font-size: 2vmax;
        font-weight: 500;
        background-color: #ffffff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .newdealupdateconfirmdatatopimg{
            height: 6vmax;
            width: 6vmax;
            border-radius: 50%;
            margin-top:5%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .newdealupdateconfirmdatatopimg img{
            height: 100%;
        }

        .newdealupdateconfirmdata{
            width: 100%;
            height: 55%;
            display: flex;
            font-size: 2vmax;
            flex-direction: column;
            font-weight: 500;
            justify-content: center;
            align-items: center;
        }

            .newdealupdateconfirmdataline{
                width: 90%;
                height: 10%;
                margin:0 5%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .newdealupdateconfirmdatalineleft{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    color: #9e9e9e;
                    padding:0 3%;
                    justify-content: flex-end;
                    align-items: center;
                }

                .newdealupdateconfirmdatalineright{
                    width: 60%;
                    height: 100%;
                    display: flex;
                    padding:0 3%;
                    justify-content: flex-start;
                    align-items: center;
                }

        .newdealupdateconfirmbutton{
            width: 100%;
            height: 15%;
            display: flex;
            border-bottom: 3px solid #dddddd;
            justify-content: center;
            align-items: center;
        }

            .newdealupdateconfirmbuttonsubmit{
                width: 35%;
                height: 50%;
                display: flex;
                color:#ffffff;
                background-color: #9e9e9e;
                font-weight: 600;
                justify-content: center;
                align-items: center;
            }

            .newdealupdateconfirmbuttondeletesubmit{
                width: 35%;
                height: 50%;
                display: flex;
                background-color: red;
                color:yellow;
                font-weight: 600;
                justify-content: center;
                align-items: center;
            }

        .newdealupdateconfirmcancel{
            width: 100%;
            height: 20%;
            display: flex;
            font-weight: 600;
            justify-content: center;
            align-items: center;
        }

    .newdealupdateconfirmrest{
        width: 100%;
        height: 40%;
    }

.newdealdataform{
width: 100%;
height: 100%;
position: fixed;
display: flex;
flex-direction: column;
top:0;
transition: 0.3s ease-out;
z-index: 30;
}

    .newdealdataformtop{
        width: 100%;
        height: 5%;
        display: flex;
        font-size: 2vmax;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        background-color: #ececec;
    }

    .newdealdataforminput{
        width: 100%;
        height: 55%;
        display: flex;
        background-color: #ffffff;
        border-top: 1px solid #dddddd;
        border-bottom: 3px solid #dddddd;
        justify-content: center;
        align-items: center;
    }
    
    .newdealdataformgroup{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .newDealDataInputFormLine{
        width: 100%;
        height: 15%;
        left: 0;
        display: flex;
        font-size: 2vmax;
        justify-content: center;
        align-items: center;
    }

        .newDealDataInputFormLine div{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
        }

        .newDealDataTopImg{
            height: 5vmax!important;
            width: 5vmax;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        .newDealDataTopImg img{
            height: 100%;
        }

        .newInputFormSelector{
            height:100%;
            width:16vmax;
            border-radius: 1vmax;
            display: flex;
            background-color: #ffffff;
            font-size: 2vmax;
            align-items: center;
        }

        .newDealDataInputFormLeft{
            width: 50%;
            left: 0;
        }

        .newDealDataInputFormRight{
            width: 50%;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .newDealDataInputNotice{
            /* height: 50%!important; */
            width: 100%;
            display: flex;
            color: red;
            /* background-color:rgba(6,24,31,0.2); */
            justify-content: center;
            align-items: center;
        }

        .newDealDataButtonLine{
            width: 100%;
            height: 15%;
            left: 0;
            display: flex;
        }

            .newDealDataButtonLineleft{
                width: 50%;
                height: 100%;
                left: 0;
                display: flex;
                font-size: 2vmax;
                justify-content: center;
                align-items: center;
            }

                .newDealDataInputSubmit{
                    height: 50%;
                    width: 60%;
                    border-radius: 1vmax;
                    display: flex;
                    background-color:#eeeeee;
                    justify-content: center;
                    align-items: center;
                }

            .newDealDataButtonLineRight{
                width: 50%;
                height: 100%;
                right: 0;
                display: flex;
                font-size: 2vmax;
                justify-content: center;
                align-items: center;
            }

                .newDealDataDeleteButton{
                    height: 50%;
                    width: 60%;
                    border-radius: 1vmax;
                    display: flex;
                    color:yellow;
                    background-color:red;
                    justify-content: center;
                    align-items: center;
                }

        .newdealdataformtcancel{
            width: 100%;
            height: 10%;
            display: flex;
            font-size: 2vmax;
            font-weight: 600;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
        }

        .newdealdataformtrest{
            width: 100%;
            height: 30%;
            display: flex;
        }

.newdealdataformbackground{
    width: 100%;
    height: 95%;
    position: fixed;
    top:5%;
    display: flex;
    justify-content: center;
    background: rgba(6,24,31,0.2);
    z-index: 20;
}

    .deletedonebox{
        width: 50%;
        height: 20%;
        top:30%;
        left:50%;
        font-size: 2vmax;
        font-weight: 500;
        transform: translateY(150%);
        background-color: #ffffff;
        z-index: 36;
    }

        .deletedonetop{
            width: 100%;
            height: 50%;
            top:0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .deletedonebottom{
            width: 100%;
            height: 50%;
            bottom:0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .deletedonebutton{
            width: 60%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            color:#ffffff;
            background-color:#9e9e9e;
        }

.billtop{
  position: fixed;
  width: 100%;
  height: 35%;
  top:8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .userimg{
      width: 10vh;
      height: 10vh;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }

    .userimg img{
      height: 100%;
    }

  .usertitle{
      width: 100%;
      height: 30%;
      display: flex;
      font-size: 3vmax;
      font-weight: 500;
      justify-content: center;
      align-items: center;
  }

  .dealamount{
      width: 80%;
      height: 35%;
      display: flex;
      font-size: 5vmax;
      font-weight: 500;
      justify-content: center;
      align-items: flex-start;
      border-bottom: 1px solid #E5E5E5;
  }

#detailinfomation{
        position: fixed;
        width: 100%;
        height: 60%;
        top: 45%;
        display: flex;
        flex-direction: column;
        font-size: 2vmax;
    }

    .detailtr{
        width: 100%;
        height: 10%;
        display: flex;
        margin-left:10%;
        margin-right:10%;
    }

    .detailname{
        width: 25%;
        height: 100%;
        display: flex;
        color:#878787;
        align-items: center;
    }

    .detaildescribe{
        width: 75%;
        height: 100%;
        padding-right: 5%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

      .detaildescribe span{
        color:#5B6A91;
        font-weight: 600;
      }